$gap: 10px;

.entry {
	&__header {
		text-align: center;
		margin: .5rem 0;
	}

	&__title {
		margin: 0;
	}

	&__content {

	}

	&__gallery {
		list-style-type: none;
		line-height: 0;
		margin: 0;
		padding: 0;

		column-count: 1;
		column-gap: $gap;
	}

	&__picture {
		margin-bottom: $gap;
		user-select: none;

		& img {
			width: 100%;
			height: auto;
			vertical-align: baseline;
			user-select: none;
		}
	}
}

@media (min-width: 400px) {
	.entry__gallery {
		column-count: 2;
	}
}

@media (min-width: 800px) {
	.entry__gallery {
		column-count: 3;
	}
}

@media (min-width: 1000px) {
	.entry__gallery {
		column-count: 4;
	}
}

// @media (min-width: 1200px) {
// 	.entry__gallery {
// 		column-count: 5;
// 	}
// }