.c-choice-toggle {
  display: flex;
  justify-content: center;
  text-align: center;

  &__input {
    display: none;

    &:checked + label {
      background: $color__brand;
      color: $color__background-header;
    }
  }

  &__label {
    flex: 1;
    max-width: 200px;
    background: $color__background-header;
    color: $color__text-primary;
    padding: 5px 5px;
    border-right: 1px solid $color__text-primary;
    user-select: none;
    font-size: .85rem;

    &:first-of-type {
      border-radius: 20px 0 0 20px;
    }

    &:last-of-type {
      border-radius: 0 20px 20px 0;
      border-right: none;
    }

    &:active {
      background: lighten($color__background-header, 2%);
      box-shadow: inset 0px 0px 5px #c1c1c1;
      outline: none;
    }
  }
}

@include for-tablet-landscape-up {
  .c-choice-toggle {

    &__label {
      font-size: 1rem;
    }
  }
}