.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 2;
  @include flexCenter();
  
  &__wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr;
    min-width: 300px;
    max-width: 50%;
    max-height: 90vh;
    overflow: auto;
  }
  
  &__content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  &__img-container {

  }

  &__info {
    position: relative;
    padding: 5px;
  }

  &__hover-element {
    display: none;
  }
  
  &__close-btn {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;

    &:hover {
      border-radius: 20px 20px 0 0;
    }
  }
  
  &__prev-btn {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 0 5px;
    @include flexCenter();

    &:hover {
      border-radius: 20px 0 0 20px;
    }
  }
  
  &__next-btn {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding: 0 5px;
    @include flexCenter();

    &:hover {
      border-radius: 0 20px 20px 0;
    }
  }
  
  // Close/Prev/Next
  &__nav-btn {
    color: black;
    
    &:hover {
      background: black;
      color: $color__brand;
    }
  }

  // Modal Font Awesome Icons
  .fas {
    font-size: 3rem;
  }

  .fa-globe {
    font-size: 1rem;
  }
}

// Custom Fields info
.modal {
  &__name {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: normal;
  }

  &__nickname {
    display: flex;
    align-items: baseline;
    font-size: .8rem;
    margin-top: -4px;

    &:before {
      content: 'Nickname:';
      font-weight: 700;
      margin-right: 5px;
    }
  }

  &__location {
    display: flex;
    align-items: baseline;
    font-size: .8rem;
    margin-top: -3px;
    line-height: 12px;

    &:before {
      content: 'Hometown:';
      font-weight: 700;
      margin-right: 5px;
    }
  }

  &__quick-fact {
    position: relative;
    font-size: .8rem;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    line-height: 13px;

    &:before {
      content: 'Facts:';
      font-weight: 800;
      position: absolute;
      top: -8px;
      left: 11px;
      background: white;
      padding: 0 3px;
    }
  }

  &__description {

  }

  &__website {
    position: absolute;
    bottom: 0;
    right: 5px;
  }

  &__champion {
    position: absolute;
    top: 0;
    right: 5px;
  }
}

@media (min-width: 768px) {
  .modal {

    &__wrapper {
      max-width: 70vw;
      max-height: 80vh;
    }

    &__content {
      @include flexCenter();
    }

    &__image-container {
      flex: 1 1 50%;
    }

    &__info {
      flex: 1 1 50%;
    }
  }
}