// Toggle Switch Container
@import 'c-choice-toggle';

// Roster Cards
@import 'c-roster-card';

// Main Layout
.l-roster-main {

	&__form {
		margin-top: 1rem;
	}

	&__roster {

	}
}

// Roster Container
.roster-container {

	// roster-container__wrestlers, etc
	div {

	}

	&__header {
		display: block;
		text-align: center;
		margin: .5rem 0 0;
	}

	&__content {
		display: flex;
		flex-direction: column;
	}
}

@include for-tablet-portrait-up {
	.roster-container__content {
		flex-direction: row;
		align-items: flex-end;
		flex-wrap: wrap;
	}
}