// Toggle Switch Container
@import 'c-choice-toggle';

// Roster Cards
@import 'c-roster-card';

// Main Layout
.l-roster-main {

	&__form {
		margin-top: 1rem;
	}

	&__roster {

	}
}

// Roster Container
.roster-container {
	text-align: center;

	// roster-container__wrestlers, etc
	div {

	}

	&__header {
		margin: .5rem 0;
	}

	&__content {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
}