// Toggle Switch Container
@import 'c-choice-toggle';

// Roster Cards
@import 'c-roster-card';

// Main Layout
.l-roster-main {

	&__form {

	}

	&__roster {

	}
}

// Roster Container
.roster-container {

	// roster-container__wrestlers, etc
	div {

	}

	&__header {

	}

	&__content {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
}