// Featurd Banner element
@import 'featured-banner';

.event {
	text-align: center;
	margin-top: 1.5rem;

	&:last-of-type {
		margin-bottom: 1.5rem;
	}
	
	&__flyer {
		display: inline-block;
		// Necessary for featured-banner's positioning
		position: relative;
		box-shadow: 2px 2px 10px 2px #111;

		&--featured {
			box-shadow: 2px 2px 10px 2px #111,
									0px 0px 30px 10px gold;
		}
	}
}