$background_color: #111;
$text_color: #818181;

/** Site Branding */
@import 'site-branding';

/** Menu Toggle Button */
@import 'menu-toggle-btn';

/** Nav Menu */
@import 'nav-menu';

/** Header  */
.site-header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;
	background: $background_color;
	color: $text_color;

	// Logo
	&__branding {
		// Aligns branding to far left & menus/button to far right
		// while still allowing for the '.site-header' padding
		margin-right: auto;
	}

	&__menu-toggle-btn {
		display: none;
	}

	// menu container
	&__nav {

	}
}

/**
 * Mobile (small-screens)
 */
@media #{$small-screen} {
	.site-header {
		
		&__branding {

		}

		&__menu-toggle-btn {
			display: block;
		}

		&__nav {
			height: 100%;
			width: 0;
			position: fixed;
			z-index: 1;
			top: 100px;
			left: 0;
			background: $background_color;
			overflow-x: hidden;
			transition: 0.5s;

			&.is-toggled {
				width: 100%;
			}
		}
	}

	.main-navigation {
		/* First/Primary Menu */
		& ul:first-of-type {
			box-shadow: 0px -1px 0px 0px $text_color;
		}

		/* Last/Social Menu */
		& ul:last-of-type {
			display: flex;
			background: lighten($background_color, 5%);

			/* Social Media Links */
			a {
				padding: 0px 6px;
				margin: 4px;
			}
		}
	}

}