/** Site Branding */
@import 'site-branding';

/** Menu Toggle Button */
@import 'menu-toggle-btn';

/** Nav Menu */
@import 'nav-menu';

.site-header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;

	background: $color__background-header;
	color: $color__text-primary;
	
	&__branding {
		margin-right: auto;
	}

	&__menu-toggle-btn {
		display: block;
	}

	&__nav {
		// Display and Box Model
		height: 100%;
		width: 100%;
		transform: translateX(-100%);

		// Positioning
		position: absolute;
		z-index: 1;
		top: 100px;
		left: 0;

		background: inherit;
		overflow-x: hidden;
		transition: transform .5s cubic-bezier(.17,.67,.16,.99);

		&.is-toggled {
			transform: translateX(0);
			z-index: 2;
		}
	}
}

.main-navigation {
	/* First/Primary Menu */
	ul:first-of-type {
		border-top: 1px solid $color__text-primary;
	}

	/* Last/Social Menu */
	ul:last-of-type {
		display: flex;
		justify-content: center;
		background: lighten($color__background-header, 5%);

		/* Social Media Links */
		a {
			padding: 0px 6px;
			margin: 4px;
		}
	}
}

@include for-tablet-landscape-up {
	.site-header {

		&__branding {
			
		}

		&__menu-toggle-btn {
			display: none;
		}

		&__nav {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: auto;

			position: static;
			
			transform: none;
			transition: none;

			&.is-toggled {
				width: auto;
			}
		}
	}

	.main-navigation {

		ul:first-of-type {
			border-top: none;
		}

		ul:last-of-type {
			background: inherit;
		}
	}
}