@mixin inverseColor() {
	background: $text_color;
	color: $background_color;
}

// Block (ul)
.nav-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;

	// Element (li)
	&__list-item {
		margin-right: 20px;

		&:last-child {
			margin-right: 0px;
		}
	}

	// Element (a)
	&__link {
		display: block; // So 'a' element takes up all of 'li' space
		border-radius: 5px;
		padding: 5px;
		text-decoration: none;
		@include border-style(bottom, 2px);

		&--no-border {
			border-bottom: none;
		}

		&:visited {
			color: $text_color;
		}

		/** Links when hovered */
		&:hover {
			@include inverseColor();
		}
	}
}

/** Nav Menu (small screens) */
// 'screen and (max-width: 37.5em)'
@media #{$small-screen} {
	.nav-menu {
		display: block;
		white-space: nowrap;

		&__list-item {
			margin: 0px;
		}

		&__link {
			display: block;
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			transition: 0.5s;
		}

	}
}

.current-menu-item .nav-menu__link,
.current-menu-item .nav-menu__link:visited {
	@include inverseColor();
}