.footer-widget {
	// Display and Box Model
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0.5rem 0;

	// Typography
	font-family: $font__stack--raleway;
	font-weight: 500;
	font-size: 1rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;

	// Color
	color: $color__text-primary;
	background: $color__background-footer;

	// Other
	border-bottom: 1px solid $color__text-primary;

	&:last-of-type {
		border-bottom: none;
	}

	&__title {
		margin: 0;
		font-size: 1.25rem;
	}

	// Text container
	div {

		// Contents
		p {
			margin: 0;
			font-size: .9rem;
		}
	}
}

@include for-tablet-landscape-up {
	.footer-widget {
		flex: 1;
		border-bottom: none;
		border-right: 1px solid $color__text-primary;
		padding: 20px 0;

		&:last-of-type {
			border-right: none;
		}

		&__title {

		}

		// Text container
		div {

			// Contents
			p {

			}
		}
	}
}