.post-navigation {
	flex: 1;
	display: flex;
	align-items: flex-end;
	margin-bottom: 20px;

	&__left-link {
		margin-right: auto;

		span {
			margin-left: 5px;
		}
	}

	&__right-link {
		margin-left: auto;

		span {
			margin-right: 5px;
		}
	}

	&__button {
		color: $color__brand;
		font-size: 1rem;
		padding: 5px 10px;
		background: #2a2a2a;
		border-radius: 3px;
	}

	a {
		text-decoration: none;
	}
}