$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// Custom Colors
$color__brand: rgba(248, 250, 44, 1.0);
$color__text-primary: rgba(255, 255, 255, 0.5);
$color__text-primary--selected: rgba(255, 255, 255, 1.0);
$color__header-background: #262626;


/*
#61892f
#86c232
#222629
#474b4f
#6b6e70
*/

// $color1: rgba(34, 33, 27, 1);
// $color2: rgba(248, 250, 44, 1);
// $color3: rgba(255, 255, 255, 1);
// $color4: rgba(200, 200, 200, 1);
// $color5: rgba(86, 163, 166, 1);