$small-screen: 'screen and (max-width: 37.5em)';

.site-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: black;
}

/** Custom Logo */
.site-branding {
	margin-right: auto;
	padding: 20px;
	
	img {
		/** Used to remove small space at bottom of image */
		vertical-align: bottom;
	}
}

/** Primary Nav Menu */
.main-navigation {
	width: auto;
	text-align: center;
	background: black;

	/** On small device and button to show menu has been clicked */
	&.toggled {
		width: 100%;
		
		ul {
			display: flex;
			flex-direction: column;
			border-top: 1px solid grey;
		}
	}

	/** Primary menu list items */
	& li {
		margin-right: 20px;

		/** Small screen primary menu list items */
		@media #{$small-screen} {
			margin-right: 10px;
			margin-left: 10px;
		}
	}

	/** Primary menu links */
	a {
		color: white;
		padding: 5px 5px 0 5px;
		border-bottom: 2px solid grey;

		/** Links when hovered */
		&:hover {
			background: white;
			color: black;
			border-radius: 5px;
		}

		/** Small screen links */
		@media #{$small-screen} {
			padding: 5px 0;
		}
	}
}

/** Toggle Button */
.menu-toggle {
	margin-right: 20px;
	width: 50px;
	border-radius: 5px;
}

/** Currently active menu item (page we are currently on) */
.current-menu-item a {
	background: white;
	color: black;
}