.site-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: $color__accent;
}

/** Custom Logo */
.site-branding {
	margin-right: auto;
	padding: 20px;
	
	img {
		/** Used to remove small space at bottom of image */
		vertical-align: bottom;
	}
}

/** Primary Nav Menu */
.main-navigation {
	display: flex;
	flex-direction: column;
	width: auto;
	text-align: center;
	background: $color__accent;

	/** On small device and button to show menu has been clicked */
	@media #{$small-screen} {
		width: 100%;
		
		&.toggled ul {
			display: flex;
			flex-direction: column;
		}

		#social-media-menu {
			order: 1;
			flex-direction: row;
			border-top: 1px solid grey;
		}

		#primary-menu {
			order: 2;
		}
	}

	&.toggled ul {
		display: flex;
	}

	ul {
		display: flex;

		@media #{$small-screen} {
			display: none;

			li:first-child a {
				border-top: 2px solid grey;
			}
		}
	}

	/** Primary menu list items */
	li {
		margin-right: 20px;
		float: none;
		position: static;

		/** Small screen primary menu list items */
		@media #{$small-screen} {
			margin-right: 10px;
			margin-left: 10px;
		}
	}

	/** Primary menu links */
	a {
		color: white;
		padding: 5px 5px 0 5px;
		border-bottom: 2px solid grey;

		/** Links when hovered */
		&:hover {
			background: white;
			color: $color__accent;
			border-radius: 5px;
		}

		/** Small screen links */
		@media #{$small-screen} {
			padding: 5px 0;
		}
	}
}

/** Toggle Button */
.menu-toggle {
	margin-right: 20px;
	width: 50px;
	border-radius: 5px;
}

/** Currently active menu item (page we are currently on) */
.current-menu-item a {
	background: white;
	color: $color__accent;
}

#social-media-menu {
	justify-content: center;
	align-items: center;

	li {
		margin: 0;
	}

	a {
		border: none;

		@media #{$small-screen} {
			padding: 5px 5px 0;
		}
	}
}